apiVersion: v1
kind: Service
metadata:
  name: task-app-service
  namespace: devops-project
spec:
  type: NodePort
  selector:
    app: task-app
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30001
