apiVersion: batch/v1
kind: Job
metadata:
  name: db-init-job
  namespace: devops-project
spec:
  template:
    spec:
      containers:
      - name: mysql-client
        image: mysql:8.0
        command: ["sh", "-c", "sleep 20 && mysql -h mysql-service -u root -prootpass -e 'CREATE DATABASE IF NOT EXISTS taskdb; GRANT ALL PRIVILEGES ON taskdb.* TO \"taskuser\"@\"%\" IDENTIFIED BY \"taskpass\"; FLUSH PRIVILEGES;'"]
      restartPolicy: Never
  backoffLimit: 3
